<div style="text-align:center">
  <h1>Welcome to {{ title }}!!</h1>
  <form [formGroup]="angForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label class="center-block"
        >Edad:
        <input class="form-control" formControlName="name" />
      </label><br><br>

      <label class="center-block"
        >Sitioweb:
        <input class="form-control" formControlName="surname" />
      </label>
    </div>
    <div
      *ngIf="
        angForm.controls['name'].invalid &&
        (angForm.controls['name'].dirty || angForm.controls['name'].touched)
      "
      class="alert alert-danger"
    >
      <div *ngIf="angForm.controls['name'].errors.required">
        Name is required.
      </div>
    </div>
    <button type="submit">
      Submit
    </button>
  </form>
  <p>Form value: {{ angForm.value | json }}</p>
  <p>Form status: {{ angForm.status | json }}</p>
</div>
